input_file;svo;dvo;dvo_time;bdd_bootstrap;bdd_compile;bdd_timeout;bdd_nodes;order
{% for entry in data -%}
{{entry.input_filename}};{{entry.svo}};{{entry.bdd_dvo}};{{entry.time_dvo}};{{entry.time_bdd_bootstrap}};{{entry.time_bdd_build}};{{entry.bdd_build_timeout}};{{entry.bdd_nodes}};{{entry.order}}
{% endfor %}
